<div class="header">
    <div class="container">
        <p class="header_head"><i class="fa fa-chevron-left cust_arrow" (click)="back()"></i>Edonee Pass
        </p>
    </div>
</div>
<div class="body">
    <div class="container" style="
    margin-bottom: 100%;">
        <div class="row details_box pt-2">
            <div class="col-sm-12">
            <p>Edonee is a mobile education app which brings about online courses which are segmented into both subject and professional wise and offers appraisals in various forms. These help the students who have taken their admission to various undergraduate and post graduate courses with Edonee associated Universities and Colleges through the process of our guidance and streamlined guidelines.</p><br>
            <p>The mobile app offers the following passes:</p>
            <h4>Standard Pass</h4>
            <ul>
                <li>The Standard Pass enables the students to have an access to limited video sessions for students through the app.</li>
                <li>Apart from that, the Edonee offers free laptop for both 1st and 2nd ranker students in any of their academic career, but the prerequisite is 1 laptop for 1 student.</li>
                <li>Appraisal for every successful score in all the subjects in the particular academic year, and Rs 1500 worth Amazon voucher.</li>
                <li>Free online or video classes, any one of GRE, TOFEL, IELTS, CAT, JEE for the students who complete the course within the duration.</li>
            </ul><br>
            <h4>Premium Pass</h4>
            <ul>
                <li>The welcome kit.</li>
                <li>Limited access to all the video classes through the learning app.</li>
                <li>Free laptop for both 1st and 2nd ranked students in an academic year and the prerequisite is 1 laptop for 1 student.</li>
                <li>Appraisals for the students for their successful academic year by clearing all the subjects in the first go with Rs 3000 worth Amazon voucher.</li>
                <li>Free online or video classes, any one of GRE, TOFEL, IELTS, CAT, JEE for the students who complete their course within the duration.</li>
                <li>Complementary birthday gifts.</li>
            </ul><br>
            <h4>Edonee Bonus</h4>
            <ul>
                <li>Apart from the regular counselling and career guidance to the students, the app conducts webinars to students and parents from time to time, which of course comes with prior intimation</li>
                <li>Validity – both standard &amp; premium passes valid till course duration + 1year</li>
            </ul><br>
            <h4>Disclaimers</h4>
            <p>All information and services provided on the site is subject to change without notice.</p>
        </div>
    </div>
      
    </div>
    <br>
</div>

<app-bnav></app-bnav>
