<div class="header">
    <div class="container">
        <p class="header_head"><i class="fa fa-chevron-left cust_arrow" (click)="back()"></i>Courses</p>
    </div>
</div>
<br/>
<br/>
<div class="container body">
    <br>
    <!-- <div class="sec_four">
        <p >Continue where you left <img src="../../assets/book.svg" alt="Book"></p>
        <div  class="course_one1">
            <p class="course_head">Course Name<br><span>comes here</span></p>
        </div>
    </div> -->
    <!-- <div class="sec_two">
        <p>Recommended Courses <img src="../../assets/book.svg" alt="Book"></p>
        <ul class="course_ul">
            <li>
                <div class="sub_course" style="background: url(../../assets/sub_course1.svg);">
                    <p class="sub_course_head">Course Name<br><span>comes here</span></p>
                </div>
            </li>
            <li>
                <div class="sub_course" style="background: url(../../assets/sub_course1.svg);">
                    <p class="sub_course_head">Course Name<br><span>comes here</span></p>
                </div>
            </li>
            <li>
                <div class="sub_course" style="background: url(../../assets/sub_course1.svg);">
                    <p class="sub_course_head">Course Name<br><span>comes here</span></p>
                </div>
            </li>
        </ul>
    </div> -->
    <div class="sec_three">
        <p>Courses <img src="../../assets/book.svg" alt="Book"></p>
        <ul class="course_ul">
            <li  *ngFor="let i of allcourses" (click)='gotoCourse(i.course_id)'>
                <div class="sub_course" style="background: url({{i.imageUrl}});">
                    <p class="sub_course_head">{{i.subject}}</p>
                </div>
            </li>
           
        </ul>
    </div>
</div>
<app-bnav></app-bnav>