<div class="container">
    <h2 class="page_head">Log In</h2>
    <div class="login_form">
        <form   [formGroup]="loginForm"
        (ngSubmit)="Login()">
        <div *ngIf="isvalid" class="form-group form_grp error-msg">The Username or Password  provided to login doesn't match</div>
        <div class="form-group form_grp">
            <label for="usr" class="page_label">Email</label>
            <input type="text"  formControlName="username" class="form-control form_fields" id="email" placeholder="eg: example@gmail.com">
        </div>
        <div class="form-group form_grp">
            <label for="pwd" class="page_label">Password</label>
            <input type="password" formControlName="password" class="form-control form_fields" id="pwd" placeholder="********">
        </div>
        <div class="sbt">
            <button  id="login-sub">Continue</button>
            <div class="fgt_pwd">Forgot password?<span [routerLink]="['/forgotpass']" routerLinkActive="router-link-active" >Click</span></div>
        </div>	
    </form>		
    </div>
    <div class="border-line">
        <ul class="border_set">
            <li class="border_half"></li>
            <li class="border_content">or</li>
            <li class="border_half"></li>
        </ul>
    </div>
    <div class="social_icons">
        <img src="../../assets/google.svg" alt="Google Logo"> Sign up with Google
    </div>
    <div class="new-user">New User? <span id="register" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</span></div>
</div>