<div class="full_footer">
    <div class="footer">
        <div class="footer_sec">
            <img  [routerLink]="['/dashboard']" src="../../assets/home.svg" alt="Home"><br><span [routerLink]="['/dashboard']" 
            routerLinkActive="router-link-active">Home</span>
        </div>
        <div class="footer_sec">
            <img [routerLink]="['/courses']" src="../../assets/fbook.svg" alt="Courses"><br><span [routerLink]="['/courses']" routerLinkActive="router-link-active">Courses</span>
        </div>
        <div class="footer_sec">
            <img [routerLink]="['/news']"  src="../../assets/news.svg" alt="News"><br><span [routerLink]="['/news']" routerLinkActive="router-link-active">News</span>
        </div>
        <div class="footer_sec">
            <img [routerLink]="['/admissions']"  src="../../assets/profile.svg"  alt="Profile"><br><span [routerLink]="['/admissions']" routerLinkActive="router-link-active" >Admission</span>
        </div>
    </div>
</div>