.footer_sec {
    display: inline-block;
    text-align: center;
    width: 24%;
}
.full_footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px 0px;
    background: #ffffff;
}
.footer {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(0 147 233 / 12%);
    border-radius: 10px;
    padding: 20px 0px;
    width: 96%;
    margin: 0px auto;
}
.footer_sec {
    display: inline-block;
    text-align: center;
    width: 24%;
}
.footer_sec span {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
}
.router-link-active{
    color: #3673cf;
}

