<div class="header">
    <div class="container">
        <p class="header_head"><i class="fa fa-chevron-left cust_arrow" (click)="back()"></i>Forgot Password</p>
    </div>
</div>
<div class="body">
    <div class="container" style="
    margin-bottom: 100%;">
     <div class="form-group error-msg mt-2" *ngIf="isError">{{ErroMsg}}</div>
     <div *ngIf="isOTP">
        <div class="form-group login-fields username_section mt-2" >
            <label for="usr">Email / Phone No:</label>
            <input type="text" [formControl]="email" placeholder="example@gmail.com / 9999999999" class="form-control input_field" id ="username">
        </div>
        <div class="login_btn">
            <!-- <button id="submit" style="display: none;">Continue</button> -->
            <button id="forget-submit" (click) = "checkuser()" >Send OTP</button>
            <!-- <button id="update-submit" style="">Update</button> -->
        </div>
     </div>
     <div *ngIf="!isOTP">
        <div class="form-group login-fields new_password_section mt-2" >
            <label for="usr">New Password:</label>
            <input type="password" [formControl]="newpass"  placeholder="**********" class="form-control input_field" id="new_password">
        </div>
        <div class="form-group login-fields verify_otp_section" >
            <label for="pwd">Verify OTP:</label>
            <input type="text" placeholder="Enter OTP" [formControl]="otp" class="form-control input_field" id="votp">
        </div>
        <div class="login_btn">
           
            <button id="update-submit" (click) = "UpdateP()">Update</button>
        </div>
     </div>
   
    </div>
    <br>
</div>

