<div class="header">
    <div class="container">
        <p class="header_head"><i class="fa fa-chevron-left cust_arrow" (click)="back()"></i>Terms & Conditions
        </p>
    </div>
</div>
<div class="body">
    <div class="container" style="
    margin-bottom: 100%;">
        <div class="row details_box pt-2">
            <div class="col-sm-12">
                <h3>User Authentication</h3>

                    <p>The Edonee as a mobile app can be used by the user with proper user registration and sign up. After the registration is done, the mobile app sends a confirmatory SMS to the user along with the conformational OTP.</p>
                
                        <p>The successful registration would include creating a unique password for the user, and this password would be able to enable the user to access the account. </p>
                
                            <p>The successful registration of the user to the Edonee App would mean that the users would follow the terms and conditions mentioned therein in order to get good service. </p>
                
                                <p>The user would need to maintain the account and his responsibility towards keeping the information within with utmost confidentiality.</p>
                
                                    <p>Any violation to the following terms and conditions would lead to terminating your account or any rights that have been granted to the user while registering for the mobile app.</p>
                
                <h3>Email Communication</h3>
                
                <p>The users who are using the Edonee App would be intimated about the account maintenance and any updates that keep happening from time to time.</p>
                
                    <p>The email which the user receives is usually the no-reply mode, which means the user cannot use the email to reply or have a correspondence to the backend team.</p>
                        <p>
                In the event that the user wants to have their communication done to the back end, can however do it with the following email id.</p>
                
            <h3> Copy Content towards infringement  </h3>
                
                <p>The Edonee App makes its attempts to keep the updated content and makes its efforts to keep the content within very enriching. </p>
                
                <p>Under no circumstances, the content can be copied in any format without the written permission of the management.</p>
        </div>
    </div>
      
    </div>
    <br>
</div>

<app-bnav></app-bnav>
