.header {
    height: 80px;
    padding-top: 40px;
    box-shadow: 0px 0px 16px rgb(0 147 233 / 12%);
}
p.header_head {
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
}
i.cust_arrow {
    color: #0093E9;
    float: left;
    font-size: 15px;
    cursor: pointer;
}
.active_play {
	color: #0093E9;
}
.videos_list {
    width: 96%;
    margin: 0px auto;
}
ul.course_list {
    list-style: none;
    padding-left: 0px;
}
ul.course_list li input {
	width: 10%;
    height: 18px;
}
ul.course_list li span {
    font-size: 16px;
    vertical-align: super;
    font-weight: 600;
}
ul.course_list li {
    border-bottom: 1px solid #efecec;
    padding: 10px 0px;
    cursor: pointer;
}
ul.course_list li p {
	margin-bottom: 0px;
    font-size: 12px;
    width: 90%;
    margin-left: auto;
    color: grey;
}
.full_footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px 0px;
    background: #ffffff;
}
.footer {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgb(0 147 233 / 12%);
    border-radius: 10px;
    padding: 20px 0px;
    width: 96%;
    margin: 0px auto;
}
.footer_sec {
    display: inline-block;
    text-align: center;
    width: 24%;
}
.footer_sec span {
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
}